@import "nib"
@import "nib/vendor"

vendor-prefixes = o ms moz webkit official
naranja = #fc7323
verde = #238276
verdeC = #596548

html,body
	margin 0
	width 100%
	height 100%
header
	width 100%
	height 50%
	background-image url(../img/header.png)
	background-position-x 50%
	background-position-y 100%
	background-repeat no-repeat
.lista
	background-color verdeC
	width 100%
	height 300px
.titulo
	background-color naranja
	width 90%
	height 100px
	margin 0 auto
.texto	
	background-color verde
	width 90%
	height 190px
	margin-top 10px
	margin 0 auto